USE [master]
GO
/****** Object:  Database [DemoApiDb]    Script Date: 1/28/2026 5:22:11 PM ******/
CREATE DATABASE [DemoApiDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoApiDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DemoApiDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoApiDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DemoApiDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoApiDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoApiDb]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/28/2026 5:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/28/2026 5:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [ImageUrl]) VALUES (1, N'Laptop', CAST(1200.00 AS Decimal(10, 2)), N'https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/dell-plus/db16255/media-gallery/non-touch/laptop-dell-plus-db16255nt-ice-bl-fpr-gallery-5.psd?fmt=png-alpha&pscan=auto&scl=1&hei=804&wid=979&qlt=100,1&resMode=sharp2&size=979,804&chrss=full')
INSERT [dbo].[Products] ([Id], [Name], [Price], [ImageUrl]) VALUES (2, N'Mouse', CAST(25.00 AS Decimal(10, 2)), N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRePT73Zre1er6w-zSnmuxIEAlIyWUAK7LmvA&s')
INSERT [dbo].[Products] ([Id], [Name], [Price], [ImageUrl]) VALUES (3, N'Teclado', CAST(45.00 AS Decimal(10, 2)), N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTICZx3RHgUxWkLSMuFHM0RohmUvMausPwfBg&s')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name]) VALUES (1, N'Archie')
INSERT [dbo].[Users] ([Id], [Name]) VALUES (2, N'Carlitos')
INSERT [dbo].[Users] ([Id], [Name]) VALUES (3, N'Jimena')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
